{% extends "blog/base.html" %}
{% block title %}
<title>Iniciar Sesion</title>
{% endblock %}

{% block bg %}
style="background-image: url('/media/web/login.jpg'); background-size : contain;"

{% endblock %}
{% block content %}
<br><br><br><br><br>


<div class="col-sm-3"></div>
<div class="col-sm-6 divlogin container">
    <h2>Iniciar Sesión</h2>
    <form method = "POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Login</button>
    </form>
    <hr/>
    <p>¿No tienes una cuenta? <a href="/register">Registrate Aqui</a></p>
    
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
    
</div>
<div class="col-sm-3"></div>

{% endblock %}