{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<br>
<br>
<br>
<br>
<br>

    
    <div class="fondograd">
    <form method="POST">
    {% csrf_token %}
    <h2 style="color: aliceblue;">¿Desea eliminar este post?</h2>    
        
       <button type="submit" class="save btn btn-danger center">Si, Eliminar</button>
       <br>
      <button class="center btn-primary"> <a class="btn  " style="color: aliceblue;" href="{% url 'post_list' %}"> Cancelar</a> </button>
       <br>
    </form>
</div>
{% else %}
<br><br><br><br><br>
<div class="fondograd">
    <h2 style="color: aliceblue;"> Error Volver a la Pagina Principal </h2>
</div>
<button class="center btn-primary"> <a class="btn  " style="color: aliceblue;" href="{% url 'post_list' %}"> Volver</a> </button>

{% endif %}
{% endblock %}