{% extends 'blog/base.html' %}
{% block content %}
<br><br>
<br><br>
        <div class="container">
        {% ifequal request.user post.author  %}

        <div class="row align-center">
            <div class="col-sm-6 ">
                <h1><a class="btn btn-success " href="{% url 'post_edit' pk=post.pk %}" ><span class="glyphicon glyphicon-pencil"> Editar Post</span></a></h1>
            </div>
            <div class="col-sm-6 " >
                <h1><a class="btn btn-danger " href="{% url 'post_delete' pk=post.pk %}" style="position: static;" ><span class="glyphicon glyphicon-remove-circle"> Eliminar Post</span></a></h1> 
            </div>
        </div>  
        {% else %}
        {% if request.user.is_staff %}
        <div class="row align-center">
        <div class="col-sm-6 " >
            <h1><a class="btn btn-danger " href="{% url 'post_delete' pk=post.pk %}" style="position: static;" ><span class="glyphicon glyphicon-remove-circle"> Eliminar Post</span></a></h1> 
        </div>
       </div>  
       {% endif %}
        {% endifequal %}
        <div class="row">          
            <div class="col-sm-12 ">
                    
                {% if post.imagenPortada %}
                <img src="{{post.imagenPortada.url}}" class="center img-responsive" style="max-width: 900px;">
                {% endif %}
            </div>
        </div>

        <div class="fondograd container">
        <div class="row">
            <div class="col">
                    <h2 class="titulo" style="color: aliceblue;">{{ post.title }}</h2>
                    <br>
            </div>
            <div class="col-sm-12 postbody" >
                    <p style="color: aliceblue;">{{post.shortext|linebreaksbr}}</p>
                    <br>
                    <p style="color: aliceblue;">{{ post.text|linebreaksbr }}</p>
            </div>
            <div class="col-sm-4 postbody">
                {% if post.imagen1 %}
                <img src={{post.imagen1.url}} class="borde center screenshoots">
                {% endif %}
            </div>
            <div class="col-sm-4 postbody">
                {% if post.imagen2 %}
                <img src={{post.imagen2.url}} class="borde center screenshoots">
                {% endif %}
            </div>
            <div class="col-sm-4 postbody">
                {% if post.imagen3 %}
                <img src={{post.imagen3.url}} class="borde center screenshoots">
                {% endif %}
            </div>
        </div>
        <div class="row">
           
            <div class="col-sm-8 credits">
                <p>
                    Autor: {{post.author}}<br>
                    Titulo del Juego: {{post.title}}<br>
                    Fecha de Publicacion: {{post.published_date}}
                </p>
            </div>
            <div class="col-sm-4 credits" >
                <br>
                    {% if post.gameForWindows %}
                        <input type="button" class="center btn btn-primary" onclick="location.href='{{post.gameForWindows.url}}'" name="boton" value="Descargar Juego">
                    {% endif %}
            </div>
        </div>

    </div>
    </div>
{% endblock %}